// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

$green-primary: #125B50;
$green-secondary: #00C897;
$pink: #FF6363;
$creme: #F7F5F2;
$gray-dark: #0E0000;
