<%# My favorites %>
<% if current_user.bookmarks.length > 0 %>
  <h2>My <%= current_user.bookmarks.length %> favorites</h2>
<% end %>
<div class="cards-products">
  <% current_user.bookmarks.each do |bookmark| %>
    <%= render 'products/card_product', product: bookmark.product %>
  <% end %>
</div>
