<%# My products %>
<% if @products.length <= 0 %>
  <h2 class= "mt-4"> Oops, you do not have any product yet.</h2>
<% end %>
<div class="cards-products mt-4">
  <% @products.each do |product| %>
    <%= render 'products/card_product', product: product %>
  <% end %>
</div>
