<%# My products %>
<% if @products.length > 0 %>
  <h2>My <%= @products.length %> products</h2>
<% end %>
<div class="cards-products">
  <% @products.each do |product| %>
    <%= render 'products/card_product', product: product %>
  <% end %>
</div>
