<%# My reviews %>
<% if current_user.my_reviews.length.size.zero? %>
      <h2>You have any reviews </h2>
<% end %>
<div class="cards">
  <% current_user.my_reviews.each do |review| %>
    <%= render 'reviews/card_review', review: review %>
  <% end %>
</div>
