<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_path("banner.jpg")%>);">
  <div class="container">
    <h1 class="mb-2"><strong>Stop Waste,</strong> just sell it !</i></h1>
  <%=render "shared/searchbar"%>
  </div>
</div>
