<div class="footer">
 <!-- <div class="d-flex justify-content-center" -->
    <!--<p><i class="fa-solid fa-phone me-1"></i>CONTACT US</p>-->
  <!-- </div>-->
  <div class="d-flex align-items-center justify-content-between p-3">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
      <a href="#"><i class="fa-solid fa-phone me-1"></i>Contact us</p>

    <div class="footer-copyright">
      <a href="#"><i class="fa-solid fa-copyright 2022 me-1"></i> 2022 Waste Market </a>
      <p>Cookie policy Terms & Conditions</p>
    </div>
  </div>
</div>
