<div class="footer">
  <div class="d-flex align-items-center justify-content-between p-3">
    <div class="footer-links">
      <a href="/thanks"><i class="fab fa-github"></i></a>
      <a href="/thanks"><i class="fab fa-twitter"></i></a>
      <a href="/thanks"><i class="fab fa-linkedin"></i></a>
      <a href="/thanks"><i class="fab fa-facebook"></i></a>
      <a href="/thanks"><i class="fab fa-linkedin"></i></a>
    </div>
      <a href="/thanks"><i class="fa-solid fa-phone me-1"></i>Contact us</p>

    <div class="footer-copyright">
      <a href="/thanks"><i class="fa-solid fa-copyright 2022 me-1"></i> 2022 Waste Market </a>
    </div>
  </div>
</div>
