<!-- mobile navbar fixed bottom -->
<footer role="navbar navbar-fixed-bottom" class="mobilenavbarfooter navbar-expand invisible-scrollbar fixed-bottom al-sm-dark-green">
    <div class="container-fluid">
        <div class="navbar-nav align-items-center w-100 h-100">
          <%= link_to root_path do %>
          <%# <div class="display-flex-element style"> %>
            <i class="fa-solid fa-house"></i>
          <% end %>
          <%#= link_to root_path do %>
            <%# image_tag (current_user.photo.attached? ? cl_image_path(current_user.photo.key) : asset_path("emy.jpg")), class: "avatar dropdown-toggle" %>
          <%# end %>
          <%= link_to root_path do %>
            <i class="fa-solid fa-message"></i>
          <% end %>
          <%= link_to root_path do %>
            <i class="fa-solid fa-message"></i>
          <% end %>
        </ul>
    </div>
  </div>
</footer>
