

 <!-- mobile navbar fixed bottom -->
    <footer role="navbar navbar-fixed-bottom" class="mobilenavbarfooter navbar-expand invisible-scrollbar fixed-bottom al-sm-dark-green">
        <div class="container-fluid">
            <div class="navbar-nav justify-content-sm-around align-items-center w-100 h-100">
              <a href="#"><span class="fa-sm mr-sm-2 icon"><i class="fa-solid fa-house"></i></span></a>
              <a href="#"><span class="fa-sm mr-sm-2 icon"><i class="fa fa-user-circle"></i></span></a>
              <a href="#"><span class="fa-sm mr-sm-2 icon"><i class="fa-solid fa-message"></i></span></a>
            </ul>
        </div>
