
.card-order {
  display: flex;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  position: relative;
}

.order-card-image {
  height: 100%;
  width: 110px;
  object-fit: cover;
}

.card-order a {
  height: 100%;
  // width: 110px;
}

.card-order h2 {
  font-weight: bold;
  margin-top: 0;
}

.card-order h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  line-height: 0;
  margin-right: 12px;
}

.card-order p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-order-infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  margin-left: 10px;
}

.card-order-infos-primary {
  // padding: 4px;
  width: 100%;
  height: 50px;
  text-align: start;
}

.card-order-infos-secondary {
  // padding: 10px;
  width: 100%;
  height: 50px;
  text-align: start;
}

#order-gauge-order svg {
  transform: scale(0.7);
  position: absolute;
  top: 28px;
  right: -20px;
}
