
.card-order {
  display: flex;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  position: relative;
}

.card-order img {
  height: 100%;
  width: 110px;
  object-fit: cover;
}

.card-order a {
  height: 100%;
  // width: 110px;
}

.card-order h2 {
  font-weight: bold;
  margin-top: 0;
}

.card-order h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  line-height: 0;
}

.card-order p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-order-infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
}

.card-order-infos-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
}

.card-order-infos-primary {
  padding: 4px;
  width: 50%;
  text-align: start;
}

.card-order-infos-secondary {
  padding: 4px;
  width: 50%;
  text-align: center;
}

#order-gauge svg {
  transform: scale(0.7);
  position: absolute;
  top: 28px;
  right: 24px;
}
