
.card-product {
  display: flex;
  flex-direction: column;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //align-items: center;
  position: relative;

img {
    height: 100px;
    width:100%;
    object-fit: cover;
  }
}

.card-product a{
  width: 100%;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  // margin-top: 4px;
  color : #125B50;
}

.card-product h3 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: bold;
  // margin-bottom: -15px;
  // padding-left: 30px;
  // margin-top: 0;
  // padding-top: 15px;
  // line-height: 0;
  color: #FF6363;
}
.card-product-infos {
  // display: flex;
  width: 100%;
  height: 50%;
  align-content: flex-end;
  padding: 0 10%;

  .card-product-infos-primary {
    // padding: 0;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // width: 50%;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
    // margin-bottom: -5px;
    // padding-top: 0;
    // margin-left: 11px;
    color: #868687;
  }


  .card-category-address {
    margin-top: 25px;
  }

}


.card-product-title{
  display: flex;
  justify-content: center;
  text-align: center ;
  margin-top: 10px;
}

.card-product-infos-secondary {
  width: 50%;
  text-align: right;
}

.card-buttons {
  top: 4px;
  right: 10px;
  position: absolute;
}

.card-buttons .fa-heart {
  color: $pink;
}

.card-buttons .fa-pen-to-square {
  color: $green-secondary;
}

.card-buttons .fa-trash-can {
  color: $green-secondary;
}
