<% if @buyer_orders.length > 0 %>
<h2>Chat with my sellers</h2>
<% end %>
<div class="cards-orders">
  <% @buyer_orders.each do |order| %>
    <%= render 'orders/card_order', order: order %>
  <% end %>
</div>

<% if @seller_orders.length > 0 %>
<h2>Chat with my customers</h2>
<% end %>
<div class="cards-orders">
  <% @seller_orders.each do |order| %>
    <%= render 'orders/card_order', order: order %>
  <% end %>
</div>
