<h1 class="text-center">We would like to thank you all !!</h1>


<div class="cards d-flex">

  <div>
    <%# <% picture_name = product.category.name + ".jpg" %>
    <%#= image_tag (product.photo.attached? ? cl_image_path(product.photo.key) : asset_path(picture_name)), class: "product-card-image"%>
  </div>
  <div>
    <h2>Gods</h2>
  </div>

    <div>
    <%# <% picture_name = product.category.name + ".jpg" %>
    <%#= image_tag (product.photo.attached? ? cl_image_path(product.photo.key) : asset_path(picture_name)), class: "product-card-image"%>
  </div>
  <div>
    <h2>Wagon's Team</h2>
  </div>

  <div>
    <h2>War Machines</h2>
  </div>

  <div>
    <h2>Tickets killers</h2>
  </div>

  <div>
    <h2>Champions</h2>
  </div>

</div>
