.btn-circle {
  color: white;
  padding: 2px;
  border-radius: 50%;
  align-items: center;
}

.btn-white {
  color: #125B50;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
}

.btn-white:hover {
  background: #125B50;
  color: white;
}


.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #125B50;
  transition: background 0.3s ease;
}

.btn-green:hover {
  background:white;
  color: #125B50;
}

.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF6363;
  transition: background 0.3s ease;
}

.btn-pink:hover {
  background: #FF6363;
  color: white;
}


.info-btn {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.btn-edit {
  background-color:#125B50;
  border:none;
  color:white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin:4px 2px;
  cursor: pointer;
  border-radius: 5px;
  position: top;
}

.btn-my-teacher{
  background-color:#F8B400;
  border:none;
  color:white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin:4px 2px;
  cursor: pointer;
  border-radius: 5px;
  position: top;
}
