
// $green-primary: #125B50;
// $green-secondary: #00C897;
// $pink: #FF6363;
// $creme: #F7F5F2;
// $gray-dark: #0E0000;

.btn-white {
  color: $green-primary;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn-white:hover {
  background: $green-primary;
  color: white;
}


.btn-green-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green-primary;
  transition: background-color 0.3s ease;
  display: inline-block;
  border-color: $green-primary;
  border-style: solid;
}

.btn-green-primary:hover {
  background:white;
  color: $green-primary;
  border-color: $green-primary;
  border-style: solid;
}

.btn-green-secondary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green-secondary;
  transition: background-color 0.3s ease;
  display: inline-block;
  border-color: $green-secondary;
  border-style: solid;
}

.btn-green-secondary:hover {
  background:white;
  color: $green-secondary;
  border-color: $green-secondary;
  border-style: solid;
}

.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $pink;
  transition: background-color 0.3s ease;
  display: inline-block;
  border-color: $pink;
  border-style: solid;
}

.btn-pink:hover {
  background: $pink;
  color: white;
  border-color: $pink;
  border-style: solid;
}


.info-btn {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}


.btn-in-card-green-secondary {
  color: white;
  padding: 0px 8px;
  border-radius: 4px;
  background: $green-secondary;
  border-color: $green-secondary;
  border-style: solid;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn-in-card-green-secondary:hover {
  background:white;
  color: $green-secondary;
  border-color: $green-secondary;
  border-style: solid;
  }

.btn-in-card-green-primary {
  color: white;
  padding: 0px 8px;
  border-radius: 4px;
  background: $green-primary;
  border-color: $green-primary;
  border-style: solid;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn-in-card-green-primary:hover {
  background:white;
  color: $green-primary;
  border-color: $green-primary;
  border-style: solid;
  }

.btn-in-card-pink {
  color: white;
  padding: 0px 8px;
  border-radius: 4px;
  background: $pink;
  border-color: $pink;
  border-style: solid;
  transition: background-color  0.3s ease;
  display: inline-block;
}

.btn-in-card-pink:hover {
  background:white;
  color: $pink;
  border-color: $pink;
  border-style: solid;
  }

// .btn-circle {
//   color: white;
//   padding: 2px;
//   border-radius: 50%;
//   align-items: center;
// }

// .btn-edit {
//   background-color:#125B50;
//   border:none;
//   color:white;
//   padding: 20px 20px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 20px;
//   margin:4px 2px;
//   cursor: pointer;
//   border-radius: 5px;
//   position: top;
// }

// .btn-my-teacher{
//   background-color:#F8B400;
//   border:none;
//   color:white;
//   padding: 20px 20px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 20px;
//   margin:4px 2px;
//   cursor: pointer;
//   border-radius: 5px;
//   position: top;
// }
