
// $green-primary: #125B50;
// $green-secondary: #00C897;
// $pink: #FF6363;
// $creme: #F7F5F2;
// $gray-dark: #0E0000;

.btn-white, .sw-theme-dots .toolbar>.btn.sw-btn-prev {
  color: $green-primary;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  border : 1px solid white;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn-white:hover, .sw-theme-dots .toolbar>.btn.sw-btn-prev:hover {
  background: $green-primary;
  color: white;
}


.btn-green-primary, #smartwizard > div.toolbar.toolbar-bottom > button.btn.sw-btn-next {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green-primary;
  transition: background-color 0.3s ease;
  display: inline-block;
  border-color: $green-primary;
  border-style: solid;
}

.btn-green-primary:hover, #smartwizard > div.toolbar.toolbar-bottom > button.btn.sw-btn-next:hover {
  background: transparent;
  color: $green-primary;
  border-color: $green-primary;
  border-style: solid;
}

.btn-green-secondary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green-secondary;
  transition: background-color 0.3s ease;
  display: inline-block;
  border-color: $green-secondary;
  border-style: solid;
}

.btn-green-secondary:hover {
  background: transparent;
  color: $green-secondary;
  border-color: $green-secondary;
  border-style: solid;
}

.btn-pink {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $pink;
  transition: background-color 0.3s ease;
  display: inline-block;
  border-color: $pink;
  border-style: solid;
}

.btn-pink:hover {
  background: white;
  color: $pink;
  border-color: $pink;
  border-style: solid;
}

.info-btn {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.btn-in-card-green-secondary {
  color: white;
  padding: 0px 8px;
  border-radius: 4px;
  background: $green-secondary;
  border-color: $green-secondary;
  border-style: solid;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn-in-card-green-secondary:hover {
  background: transparent;
  color: $green-secondary;
  border-color: $green-secondary;
  border-style: solid;
  }

.btn-in-card-green-primary {
  color: white;
  padding: 0px 8px;
  border-radius: 4px;
  background: $green-primary;
  border-color: $green-primary;
  border-style: solid;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn-in-card-green-primary:hover {
  background: transparent;
  color: $green-primary;
  border-color: $green-primary;
  border-style: solid;
  }

.btn-in-card-pink {
  color: white;
  padding: 0px 8px;
  border-radius: 4px;
  background: $pink;
  border-color: $pink;
  border-style: solid;
  transition: background-color  0.3s ease;
  display: inline-block;
}

.btn-in-card-pink:hover {
  background:white;
  color: $pink;
  border-color: $pink;
  border-style: solid;
  }

  // .toolbar .toolbar-bottom{
  //   position: relative
  // }

  // .form-product .btn-green-secondary {
  //   bottom: 0.1px;
  //   position: absolute;
  // }

  // .sw-theme-dots .toolbar>.btn {
  //     // .sw-btn-prev {
  //     //   background-color: $white !important;
  //     //   color: yellow !important;
  //     // }
  //   color: white !important;
  //   padding: 8px 24px !important;
  //   border-radius: 4px !important;
  //   background: $green-primary !important;
  //   transition: background-color 0.3s ease !important;
  //   display: inline-block !important;
  //   border-color: $green-primary !important;
  //   border-style: solid !important;
  //   :hover {
  //     background: transparent !important;
  //     color: $green-primary !important;
  //     border-color: $green-primary !important;
  //     border-style: solid !important;
  //   }
  // }
