.footer-header {
  text-align: center;
}

.footer {
  display: block;
  padding: 0px 10px;
  color: rgba(0,0,0,0.3);
  margin-top: auto;

}
.footer-links {
  display: flex;
  align-items: center;

}
.footer-links a {
  color: $green-primary;
  opacity: 0.15;
  text-decoration: none;
  font-size: large;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.fa-solid fa-phone me-1 {
  color: $green-primary;
}
/*.fa-solid fa-phone me-1*/ a:hover {
  color: $green-primary;
}

@media(max-width: 560px) {
  .footer {
    display: none;
  }
}
