@media only screen and (max-width: 576px) {
  .footer-nav-title { font-size: 0.72rem; }
}

.mobilenavbar{
  background: #125B50;
  display: flex;
  height: 80px;
}

 .mobilenavbarfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #125B50;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-right: 18%;
}

.mobilenavbar {
  background-size: auto;
  text-align: center;
  padding-top: 100px;

}

// .mobilenavbarflex {
//   box-sizing: border-box;
//   flex: auto;
//   margin-inline-start: 12px;
//   }

.color-creme {
color: $creme;
}

.fa-house::before {
  color: $green-primary
}

.fa-message::before {
  color: $green-primary;
}

// .navbar-nav {
//   justify-content: space-between;
//   padding: 0 20%;
// }

@media(min-width: 560px) {
  .mobilenavbarfooter {
    display: none;
  }
}
