.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 1px solid white ;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media(max-width: 560px) {
  .navbar-lewagon {
    display: none;
  }
}
