h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color : #FF6363;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color : #125B50;
}

h3 {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: #FF6363;
}

p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: #868687;
}
