<h2> Categories</h2>

<div class="cards-categories">
  <% @categories.each do |category| %>
    <%= render 'products/card_category', category: category %>
  <% end %>
</div>


<h2>This is the product index</h2>

<div class="cards" data-controller="display-bookmark" data-display-bookmark-target="list">
  <%= render 'list_products', products: @products %>
</div>
