<div class="position-relative back-button my-5">
  <%= link_to 'Back', products_new_scan_path, class: "btn-pink position-absolute left-0" %>
  <h1 class="text-center">New product</h1>

</div>
<%= render 'form_products', product: @product %>
