
  <h1 class="text-center">Add a new product</h1>
  <div id="scandit-barcode-picker" style="max-width: 1280px; max-height: 80%;"></div>
  <%= render 'form_products', teacher: @product %>
  <%= link_to 'Back', root_path %>
<%= javascript_pack_tag 'scanner' %>
