<h1 class= "text-center mb-2" id="scan">Please scan your product</h1>
<h2 class= "text-center">Don't have anything to scan ?</h2>
<div class= "d-flex justify-content-center mt-1">
  <br>
  <%= link_to 'Add a product without scanning', new_product_path, class: "btn-green-primary" %>
  </div>
</div>
<div class= "d-flex justify-content-center mt-2">
  <div id="scandit-barcode-picker" style="max-width: 700px; max-height: 100%;"></div>
  <%= javascript_pack_tag 'scanner' %>
  <br>
</div>
