<div class="review minicard d-flex flex-column justify-content-center align-items-center ml-1">
  <%# Display User avatar %>
  <%= link_to user_path(review.user) do %>
    <%= image_tag (review.user.photo.attached? ? cl_image_path(review.user.photo.key) : asset_path("emy.jpg")), class: "avatar-on-card position-avatar-cardreview" %>
  <% end %>
  <p><%= review.user.username %>'s note</p>
  <ul class="review-stars"><% review.rating.times do %>
    <li class="fa fa-star"></li>
  <% end %>
  </ul>
</div>
