
.nav-tabs{
  margin-bottom: 10px;

  .nav-link.active{
    color: white;
    background-color: $green-secondary;
    border-color: #dee2e6 #dee2e6 #F7F5F2;
  }

  .nav-link {
    color: $green-primary;
    margin-bottom: -1px;
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

  .user-order-btn {
    display: none;
  }

  .add-product-sm {
    font-size: 36px;
    color: #1EDD88;
    position: fixed;
    bottom: 2em;
    right: 0.5em;
    z-index: 999;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .myprofile {
    position: relative;
  }
  .user-order-btn {
    position: absolute;
    top: 1px;
    right: 1px;
  }

  .add-product-sm {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .myprofile {
    position: relative;
  }

  .add-product-sm {
    display: none;
  }

  .user-order-btn {
    position: absolute;
    top: 1px;
    right: 1px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .myprofile {
    position: relative;
  }

  .add-product-sm {
    display: none;
  }

  .user-order-btn {
    position: absolute;
    top: 1px;
    right: 1px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .myprofile {
    position: relative;
  }
  .user-order-btn {
    position: absolute;
    top: 1px;
    right: 1px;
  }

  .add-product-sm {
    display: none;
  }
}
