.container-product-show{
  position: relative;
  display: flex;
}

.first-pane{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 0px 10px;

}

.product-show-picture{
  img{
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
  }
}

.product-show-map{
  height: 200px;
  width: 200px;
}

.second-pane{
  align-items: center;
  width: 30%;
  padding: 0px 10px;
}

.third-pane{
  align-items: center;
  width: 30%;
  padding: 0px 10px;
  p{
    text-align: justify;
  }


}

@media(max-width: 560px) {
  .navbar-lewagon {
    display: none;
  }
}

@media(min-width: 560px) {
  .mobilenavbarfooter {
    display: none;
  }
}
