.product-show-container {
  header {
    position: relative;
    height: 300px;
  }

  header > .product-show-links {
    background-color: #ffffff5c;
  }
}


.product-show-img {
  height: 400px;
  background-size: cover;
  background-position: center;
}
.product-show-img {
  box-shadow:  2px 2px, #00C897
}

h1 {
  font-size: 16px;

}
// .col-6{
//   padding-top: 10px;
// }
