.product-show-card {
  background-color: white;
  padding: 0.75rem 0.5rem;
  border-radius: 3px;

  .product-show-links {
    background-color: #125b50;
  }

  h2 {
    font-size: 1.3em;
  }

  .product-price {
    font-size: 1.3rem;
    color: #125B50;
  }

  .product-infos {
    i {
      color: #00C897;
      // color: $pink;
    }
  }

  .product-description {
    border: 1px solid #CACACA;
    border-radius: 3px;
  }
}

.product-show-img {
  height: 400px;
  background-size: cover;
  background-position: center;
}
.product-show-img {
  box-shadow:  2px 2px, #00C897
}

h1 {
  font-size: 16px;
}
